<table class="table table-bordered" id="color-columns">
    <thead>
    <tr>
        <th class="color-columns">Color</th>
        <th class="color-columns">Occurrences</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="color in colorSummary">
        <td class="td-width color-columns">{{color.color}}</td>
        <td class="td-width color-columns">{{color.count}}</td>
    </tr>
    </tbody>
</table>