<div class="center">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="list-columns">Submission Date</th>
            <th class="list-columns">Name</th>
            <th class="list-columns">Favorite Color</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="survey_list != null" ng-repeat="survey in survey_list | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage track by $index"
            ng-click="showDetail($index, pagination.page)">
            <td class="list-columns">{{survey.date}}</td>
            <td class="list-columns">{{survey.name}}</td>
            <td class="list-columns">{{survey.color}}</td>
        </tr>
        <modal-dialog show='modalShown' width='300px' height='30%'>
            <div>
                <h2>Survey Detail</h2>
            </div>
            <div class="row">
                Submission Date: {{survey_detail.date}}
            </div>
            <div class="row">
                Name: {{survey_detail.name}}
            </div>
            <div class="row">
                Email: {{survey_detail.email}}
            </div>
            <div class="row">
                Gender: {{survey_detail.gender}}
            </div>
            <div class="row">
                Favorite Color: {{survey_detail.color}}
            </div>
        </modal-dialog>
        <tr ng-if="survey_list == null">
            <td colspan="3">
                No Results
            </td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination" ng-if="survey_list != null && survey_list.length > 5">
        <li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
        <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
            <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
        </li>
        <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
    </ul>
</div>