<div class="center">
    <button class="button" ng-click="view()">Change Summary View</button>
    <div>
        <canvas id="pie" ng-show="summary" class="chart chart-pie"chart-data="data" chart-labels="labels" chart-colours="chartColor"></canvas>
        <div color-table ng-hide="summary"></div>
    </div>

</div>

