<div class="center">
    <form name="myForm" novalidate>
        <div class="row">
            <label>Name:
                <input type="text" class="" name="name" ng-model="survey_template.name" required/>
            <span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                <span ng-show="myForm.name.$error.required">Username is required.</span>
            </span>
            </label>
            <label>Email:
                <input type="email" class="" name="email" ng-model="survey_template.email" required/>
            <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
            <span ng-show="myForm.email.$error.required">Email is required.</span>
            <span ng-show="myForm.email.$error.email">Invalid email address.</span>
            </span>
            </label>
        </div>
        <div class="row">
            <label>Gender:
                <input class="row-margin-left" type="radio" name="gender" ng-model="survey_template.gender" value="Male" ng-required="!survey_template.gender">Male
                <input class="row-margin-left" type="radio" name="gender" ng-model="survey_template.gender" value="Female" ng-required="!survey_template.gender">Female
            </label>
        </div>
        <div class="row">
            <label>Favorite Color:
                <select class="form-control" name="color" ng-model="survey_template.color" ng-style="{'background-color':selectedColor , 'width': '100px'}" required>
                    <option ng-repeat="color in color_template" value="{{color.name}}" ng-style="{'background-color':color.hex, 'width': '100px'}"></option>
                </select>
            </label>
        </div>
        <div class="row">
            <input type="submit" ng-disabled="myForm.name.$dirty && myForm.name.$invalid || myForm.email.$dirty && myForm.email.$invalid || myForm.color.$error.required || myForm.gender.$error.required" ng-click="save(survey_template)" ui-sref="survey_list">
        </div>
    </form>
</div>

