#menu {
  width: 650px;
  height: 35px;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #8AD9FF;
  border-radius: 8px;
  margin: 0 auto; }
  #menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px; }
  #menu li {
    display: inline;
    padding: 20px; }

.centered {
  margin: auto; }

.center {
  margin: auto;
  width: 60%;
  padding: 10px; }

.image1 {
  height: 250px;
  width: 250px;
  padding: 5%; }

.image2 {
  height: 250px;
  width: 250px;
  padding: 5%; }

.home-center {
  text-align: center;
  margin: 0 auto;
  width: 60%; }

.ng-modal-overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8; }

.ng-modal-dialog {
  z-index: 10000;
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000; }

.ng-modal-dialog-content {
  padding: 10px;
  text-align: left; }

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif'; }

.row {
  margin-right: -5px;
  margin-left: -5px;
  padding-bottom: 5px; }

.text-center {
  text-align: center; }

.table {
  border-collapse: collapse !important; }
  .table td, .table th {
    background-color: #fff !important; }

.table-bordered {
  border: 1px solid #ddd; }
  .table-bordered th, .table-bordered td {
    border: 1px solid #ddd !important; }

.list-columns {
  width: 300px;
  text-align: left;
  padding-left: 10px; }

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px; }
  .pagination > li {
    display: inline; }
    .pagination > li > a, .pagination > li > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1;
      color: #337ab7;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd; }
    .pagination > li:first-child > a, .pagination > li:first-child > span {
      margin-left: 0;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .pagination > li:last-child > a, .pagination > li:last-child > span {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
    .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
      color: #23527c;
      background-color: #eee;
      border-color: #ddd; }
  .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7; }

.color-columns {
  text-align: left;
  padding-left: 10px; }

.td-width {
  width: 350px; }

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal; }

/*# sourceMappingURL=style.css.map */
