#menu {
  width: 650px;
  height: 35px;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #8AD9FF;
  border-radius: 8px;
  margin: 0 auto;
  ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
  }
  li {
    display: inline;
    padding: 20px;
  }
}

.centered {
  margin: auto;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.image1 {
  height: 250px;
  width: 250px;
  padding: 5%;
}

.image2 {
  height: 250px;
  width: 250px;
  padding: 5%;
}
.home-center {
  text-align: center;
  margin: 0 auto;
  width: 60%;
}