.table {
  border-collapse: collapse !important;
  td, th {
    background-color: #fff !important;
  }
}

.table-bordered {
  th, td {
    border: 1px solid #ddd !important;
  }
  border: 1px solid #ddd;
}

.list-columns {
  width: 300px;
  text-align: left;
  padding-left: 10px;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
  > {
    li {
      display: inline;
      > {
        a, span {
          position: relative;
          float: left;
          padding: 6px 12px;
          margin-left: -1px;
          line-height: 1;
          color: #337ab7;
          text-decoration: none;
          background-color: #fff;
          border: 1px solid #ddd;
        }
      }
      &:first-child > {
        a, span {
          margin-left: 0;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
      }
      &:last-child > {
        a, span {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
      > {
        a:hover, span:hover, a:focus, span:focus {
          color: #23527c;
          background-color: #eee;
          border-color: #ddd;
        }
      }
    }
    .active > {
      a, span, a:hover, span:hover, a:focus, span:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
      }
    }
  }
}