.color-columns {
  text-align: left;
  padding-left: 10px;
}

.td-width {
  width: 350px;
}

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
}